@use "./mixins.scss" as m;

.navbar-collapse {
  justify-content: end;
}

.wrapper {
  width: 100%;
  min-height: max-content;
  background-image: url(../assets/background_wb.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.device(desktop) {
    padding: 3rem;
    justify-content: flex-start;
  }
}

.wp-bgw {
  background-image: none;
  background-color: #fff;
}

.form-login {
  width: 90vw;
  min-width: 280px;
  max-width: 550px;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: rgba($color: #fff, $alpha: 0.5);
  background-blend-mode: overlay;

  -webkit-box-shadow: 1px 2px 15px -5px rgba($color: #000, $alpha: 0.9);
  box-shadow: 1px 2px 15px -5px rgba($color: #000, $alpha: 0.9);

  padding: 20px 30px;
  border: 1px solid grey;
  border-radius: 20px;
  @include m.device(tabland) {
    width: 60vw;
  }

  .form-actions {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h3 {
    text-align: center;
    color: var(--primary);
  }

  p {
    text-align: center;
  }

  img {
    max-height: 30vh;
    min-height: 200px;
    object-fit: contain;
  }
}

//Register
.logo-register {
  width: 150px;
  object-fit: contain;
  align-self: center;
}

.register-form {
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 15px;
  flex-direction: column;
  gap: 15px;
  h2 {
    color: var(--primary);
    align-self: center;
  }
}

//Patient Row Component
.patient-name:hover {
  cursor: pointer;
  color: var(--primary) !important;
  text-decoration: underline;
}

//Nurse Portal Component
.logo-big {
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}
.logo-small {
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

//Header Component
.alert-page {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--danger);
  font-weight: 500;
  .alert-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    //margin-left: 10px;
    background-color: var(--danger);
    color: #fff;
    border-radius: 50%;
  }
}

.medical-condition {
  gap: 20px;
}

.medical-condition-form {
  margin-top: 35px;
  width: 100%;
  button {
    margin-top: 20px;
    max-width: 100px;
  }
}

.motivational-content {
  width: 100%;
  max-width: 800px;
  margin-top: 35px;
  gap: 10px;
  .form-check-input {
    margin-right: 10px;
  }
  button {
    margin-top: 20px;
    max-width: 100px;
  }
}

//Patient Portal Component
.patient-portal-content {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5%;
  gap: 30px;
  flex-wrap: wrap;

  .patient-list {
    width: 100%;
  }
  .btns-space-nurse {
    width: 100%;
    justify-content: center;
    gap: 20px;
    .update-btn {
      color: rgb(28, 28, 28);
      padding: 10px;
      h5 {
        margin: 0;
      }
    }
    .btn-primary {
      padding: 10px;
    }
    .btn-primary:hover {
      background-color: var(--info) !important;
    }
    button {
      -webkit-box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.9);
      box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.9);
    }
    button:hover {
      -webkit-box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
      box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
    }
  }

  .form {
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
    //border: 1px solid grey;
    -webkit-box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
    box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
    width: 100%;
    height: 100%;
    @include m.device(tabland) {
      width: 40vw;
      max-width: 700px;
    }

    .fields {
      gap: 10px;
      button {
        margin-top: 10px;
      }
    }
  }

  .emergency-alert {
    margin-bottom: 20px;
    button {
      padding: 10px;
      border-radius: 10px;
      border: none;
      -webkit-box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
      box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
    }
    button:hover {
      background-color: #fafafa;
      -webkit-box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
      box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
    }
  }
  .checklist {
    button {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: var(--primary);
      -webkit-box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
      box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
    }
    button:hover {
      background-color: var(--info);
      -webkit-box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
      box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
    }
  }

  .btns-space {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
    @include m.device(tabland) {
      width: 35vw;
      max-width: 450px;
    }
  }

  #createAlertMsg {
    .modal-header {
      background-color: var(--warning);
    }
  }

  #symptomsChecklist {
    .modal-body form .dir-col {
      gap: 10px;
      button {
        margin-top: 10px;
        max-width: 100px;
      }
      .dir-row {
        gap: 10px;
      }
    }
  }
}

.notification {
  margin-top: 40px;
  gap: 20px;
  max-width: 800px;
}

.motivational-tip {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba($color: #ffc107, $alpha: 0);
  background: #ffb800;
  background: linear-gradient(322deg, #ffb800 0%, #f6d920 80%);
  background: -webkit-linear-gradient(322deg, #ffb800 0%, #f6d920 80%);
  background: -moz-linear-gradient(322deg, #ffb800 0%, #f6d920 80%);
  padding: 16px;
  gap: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
  box-shadow: 1px 2px 10px -5px rgba($color: #000, $alpha: 0.7);
  // -webkit-box-shadow: 5px 5px 10px 2px #ff8080, -9px 5px 10px 2px #ffe488,
  //   -7px -5px 10px 2px #8cff85, 12px -5px 10px 2px #80c7ff,
  //   12px 10px 10px 5px #e488ff, -10px 10px 10px 5px #ff616b,
  //   -10px -7px 10px 1px #8e5cff, 5px 5px 10px 2px rgba(0, 0, 0, 0);
  // box-shadow: 5px 5px 10px 2px #ff8080, -9px 5px 10px 2px #ffe488,
  //   -7px -5px 10px 2px #8cff85, 12px -5px 10px 2px #80c7ff,
  //   12px 10px 10px 5px #e488ff, -10px 10px 10px 5px #ff616b,
  //   -10px -7px 10px 1px #8e5cff, 5px 5px 10px 2px rgba(0, 0, 0, 0);

  h3,
  h5 {
    color: var(--dark);
  }

  img {
    width: 50px;
    height: 50px;
  }

  .dir-row {
    gap: 10px;
  }
}

.motivational-tip:hover {
  -webkit-box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
  box-shadow: 1px 2px 18px -5px rgba($color: #000, $alpha: 0.9);
}
