@use "./mixins.scss" as m;

.wrapper {
  width: 100%;
  min-height: max-content;
  background-image: url(../assets/background_wb.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.device(desktop) {
    padding: 5rem;
    justify-content: flex-start;
  }
}

.wp-bgw {
  background-image: none;
  background-color: #fff;
}

.form-login {
  width: 90vw;
  min-width: 280px;
  max-width: 550px;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: rgba($color: #fff, $alpha: 0.5);
  background-blend-mode: overlay;

  padding: 20px 30px;
  border: 1px solid grey;
  border-radius: 20px;
  @include m.device(tabland) {
    width: 60vw;
  }

  .form-actions {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h3 {
    text-align: center;
    color: var(--primary);
  }

  p {
    text-align: center;
  }

  img {
    max-height: 30vh;
    min-height: 200px;
    object-fit: contain;
  }
}

//Patient Row Component
.patient-row {
  cursor: pointer;
}

//Nurse Portal Component
.logo-big {
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}
.logo-small {
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

//Patient Portal Component

.patient-portal-content {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  gap: 30px;

  .emergency-alert {
    max-width: 40vw;
  }

  #createAlertMsg {
    .modal-header {
      background-color: var(--warning);
    }
  }
}

.motivational-tip {
  margin-top: 25px;
  display: flex;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: rgba($color: #ffc107, $alpha: 0.7);
  padding: 2%;
  justify-content: center;
  align-items: center;

  h3,
  h5 {
    color: var(--dark);
  }

  img {
    width: 50px;
    height: 50px;
  }

  .dir-row {
    gap: 10px;
  }
}
